<div>
    <div class="jumbotron container" style="text-align: center">
        <h2>About</h2>
        <p>This is the web application that supports the mobile offline app of COMALAT.</p>
        <p>
            It provides a REST API that the offline mobile app uses to download materials 
            in the device and to synchronize and update the downloaded learning materials.
        </p>
        <p>It also provides a web UI that the administrator of the application can use to upload the materials to the server.</p>
    </div>
</div>